<div style="padding: 13px;">
    <mat-spinner *ngIf="bugs.length === 0"></mat-spinner>

    <mat-card *ngFor="let bug of bugs" style="margin-top:10px;">
        <mat-card-header>
            <mat-card-title>{{bug.title}}</mat-card-title>
            <mat-card-subtitle>{{bug.created_at}} 
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{bug.description}}
            </p>
            <!-- <img style="height:100%; width: 100%;" src=" product.imageUrl " /> -->
        </mat-card-content>
        <mat-card-actions>
        <button mat-button> Edit Bug</button>
    </mat-card-actions>
    </mat-card>
</div>