
.bugs-list {
    // display: inline-block;
    float: left;

    height: 600px;
    width: 350px;

    overflow-y: scroll;
    overflow-x: hidden;
}

mat-list-item.selected {
    color: red;
}

.bug-detail {
    // display: inline-block;

    height: 600px;
    width: 350px;

    overflow-x: hidden;
    padding-left: 100px;


}