<h2>My Bugs</h2>

<div class="bugs-list">
    <mat-list role="list">
        <mat-list-item 
            *ngFor="let bug of bugs" 
            role="listitem" 
            (click)="onSelect(bug)"
            [class.selected]="bug === selectedBug">

            <span >{{bug.id}} </span> - {{bug.title}}
        </mat-list-item>
    </mat-list>
</div>
<div class="bug-detail">
    <div *ngIf="selectedBug">

        <h2>{{selectedBug.title | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedBug.id}}</div>
        <div>
          <label>title:
            <input [(ngModel)]="selectedBug.title" placeholder="title"/>
          </label>
        </div>
        <a routerLink="/bugs/details/{{selectedBug.id}}"> go there</a>
      </div>
</div>

