mat-toolbar.nav-bar {
    position: fixed;
    top: 0; /* Sets the sticky toolbar to be on top */
    height: 70px;
    z-index: 1000;
    -webkit-box-shadow: 0px -15px 23px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -15px 23px 10px rgba(0,0,0,0.75);
    box-shadow: 0px -15px 23px 10px rgba(0,0,0,0.75);
    padding-left: 50px;
}

mat-toolbar.subnav-title-bar {
    // position: fixed;
    position: relative;
    top: 70px; /* Sets the sticky toolbar to be on top */
    height: 90px;
    z-index: 900;
    padding-left: 80px;
    font-weight: 100;
}

.content-wrapper {
    box-sizing: content-box;
    position: relative;
    top: 70px;
    width: 800px;
    padding: 25px;
    margin: 0px auto;
}