<mat-toolbar class="nav-bar" color="primary">
  <h1>{{ title }}</h1>
  <span class="menu-spacer"></span>
  <div>
    <a mat-button routerLink="/">Home</a>  
    <a mat-button routerLink="/about">About</a>  

    <button mat-button [matMenuTriggerFor]="bugs">Bugs</button>
    <mat-menu #bugs="matMenu">
      <button mat-menu-item routerLink="/bugs/table">table</button>
      <button mat-menu-item routerLink="/bugs/cards">cards</button>
      <button mat-menu-item routerLink="/bugs/list">list</button>
    </mat-menu>

  </div>    
</mat-toolbar>
<mat-toolbar class="subnav-title-bar" color="primary">
  Bugs
</mat-toolbar>
<div class="content-wrapper">
  <router-outlet></router-outlet>
</div>