<mat-spinner *ngIf="!bug"></mat-spinner>
<div *ngIf="bug">
    <h2>{{bug.title | uppercase }} Details</h2>
    <div><span>id: </span>{{bug.id}}</div>
    <div><span>created_at: </span>{{bug.created_at}}</div>
    <div>
        <label>title:
        <input [(ngModel)]="bug.title" placeholder="title"/>
        </label>
    </div>
</div>